article.story
  picture
    each source in heroImageSources
      source(media=source.media, srcset=source.srcset)
    img.hero-image(src= heroImageSource, alt= heroImageAlt)
  each section in content
    if section.type === "headline"
      h1.headline= section.text
    if section.type === "subHeadline"
      h2.headline-2= section.text
    if section.type === "paragraph"
      p.text= section.text
    if section.type === "orderedList"
      ol.numbered-list
      each item in section.items
        li= item
    if section.type === "unorderedList"
      ul.unnumbered-list
      each item in section.items
        li= item
    if section.type === "blockquote"
      blockquote.quote= section.text
  include ../gallery/gallery
